
<h1>About us</h1>

<h3>Q. What is a Lease and How is it going to work?</h3>
<p>Leasing in other words can be defined as renting. </p>
<p> So, you get to select your favourite product and you will be sign a contract which is filling in their personal information to get the product.<br/>
    The contract will be for 24 months where the user is leasing a phone.<br/></p>
<p>In these 24 months, you will be paying about 75% of the product in monthly installments.
 At the end of 24th month, you can return the product at zero cost back to the company or can make the purchase of the product by paying the remaining 25% of the original price. <br/></p>
<p> And if you couldn't decide anything after the 24th month, you will continue to pay the monthly charge of the product but the product still belongs to the company itself.<br/>
In this manner, the you can stay up with the latest technology and by not making a full purchase and can also return it and upgrade to new one whenever you want.
</p>
<p>So, every month you will be paying for the phone through PayPal</p>