@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Title"]</h3>

<h3>Do not hesitate to contact us! We are just one click away.</h3>
<h4>Email: nakshidudhiya@gmail.com</h4>
<h4>Contact: (+1)365-888-2701</h4>

