@model HomeViewModel

<partial name="_Carousel"/>

<h2>Phones on Sale!</h2>
<div class="row">
    @foreach(var product in Model.ProductOnSale)
     {
        <partial name="_productCard" model="product"/>
     }

</div>