@model ProductListViewModel


<h1>@Model.CurrentBrand</h1>
@foreach (var product in Model.Products)
{
    <partial name="_productCard" model="product" />
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    @await Html.PartialAsync("_CreateItem", "Products")
}